/.env
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/private/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/app/private/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
/.idea
/.vscode
.DS_Store
Thumbs.db
